.container {
    background-color: rgb(245, 210, 210);
    color: black;
    padding: 20px 50px;
    border-radius: 20px;
    height: 500px;
}

.search-area {
    padding: 10px;
    border-radius: 20px;
    display: flex;
    gap: 10px;
}

.search-input {
    padding: 8px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    background-color: #383737;
}

.search-input+button {
    padding: 10px;
    font-size: 16px;
}

.search-input+button:hover {
    border: 2px solid tomato;
}

.short-text {
    display: none;
}

.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.weather-details {
    display: flex;
    flex-direction: column;
    background-color: hsl(240, 59%, 82%);
    padding: 10px;
    margin-top: 25px;
    border-radius: 20px;
    width: 200px;
    align-items: center;
    line-height: 1.8;
}

.city-name {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.temp-display {
    font-size: 20px;
    font-weight: bold;
}

.humidity-display {
    font-size: 17px;
}

.desc-display {
    font-weight: 600;
    font-size: 20px;
}

.weather-emoji {
    font-size: 50px;
}

.error {
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
    color: maroon;
    border-radius: 18px;
}

@media (max-width: 639px) {
    h1 {
        font-size: 40px;
        font-family: 'Times New Roman', Times, serif;
    }

    .search-input {}

    .search-input+button {
        padding: 10px;
        font-size: 12px;
    }

    .full-text {
        display: none;
    }

    .short-text {
        display: inline;
        font-size: 15px;
    }

}